name: CI Pipeline

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, prod]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [frontend, backend]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        working-directory: ${{ matrix.folder }}
        run: npm install

      - name: Build project
        working-directory: ${{ matrix.folder }}
        run: npm run build --if-present
